/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0em) {

    #hero {
        min-height: 400px;
        height: 400px;
        background: url('/images/about-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        color: #fff;
    }
    
    #dark {
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 20;
        opacity: .7;
    }
    
    #home-h {
        width: 200px;
        text-align: center;
        font-size: 3.4375em;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 50;
        margin-top: 50px;
        color: #fff;
    }
    
    #home-h:before {
        content: '';
        position: absolute;
        width: 180px;
        height: 200px;
        border: 10px solid rgba(255,218,45, .4);
        z-index: -1;
    }
    
    .white-comb {
        position: absolute;
        width: 100%;
        bottom: -2px;
        z-index: 100;
    }
    
    .white-comb.dark-mode {
        display: none !important;
    }
    
    .dark-comb.dark-mode {
        display: block;
        position: absolute;
        bottom: -2px;
        z-index: 100;
    }
}

@media only screen and (min-width: 48em) {

    #hero {
        position: relative;
        height: 600px;
    }

    #home-h {
        font-size: 4.375em;
        margin-bottom: 0;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }

    .white-comb {
        position: absolute;
        bottom: -2px !important;
    }
}

@media only screen and (min-width: 64em) {

    #hero {
        height: 600px;
        background: url('/images/about.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    #home-h {
        -webkit-transform: translateY(40px);
            -ms-transform: translateY(40px);
                transform: translateY(40px);
        font-size: 4.375em;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }
}

/*-- -------------------------- -->
<---        Testimonials        -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0) {

    #reviews {
        padding-top: 35px;
        padding-bottom: 150px;
    }

    #reviews h2, #reviews .yellow-span {
        display: block;
        text-align: center;
    }

    #reviews .stars {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 40px;
        margin-top: 60px;
    }

    #reviews .stars svg {
        width: 30px;
        height: 30px;
    }

    #reviews p {
        text-align: center;
    }

    #reviews .name {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        display: block;
        margin-top: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #reviews .name:before {
        content: '';
        position: absolute;
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #F2C613;
        opacity: .4;
        z-index: -1;
    }

    #reviews a {
        margin-top: 50px;
    }
  }
  
/* Landscape */
@media screen and (min-width: 540px) and (max-width: 767px) {


}

/* Tablet */
@media only screen and (min-width: 768px) {


}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

#reviews {
    padding: 0px 0 100px;
}

#reviews .stars {
    margin-top: 150px;
}

#reviews p {
    width: 800px;
    margin: auto;
}

#reviews a {
    width: 173px;
}
}

/* Regular Desktop */
@media only screen and (min-width: 1300px) {


}

/*-- -------------------------- -->
<---           Contact          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0em) {

    #contact-strip {
        padding: 50px 36px 150px;
        position: relative;
        background: var(--primary);
    }
    
    .about-about-contact-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        z-index: 10;
    }
    
    .about-contact-group h2 {
        color: #000;
        font-size: 1.875em;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .top p {
        color: #000;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
        max-width: 400px;
    }
    
    .contact-button {
        background: #fff;
        color: #4c4c4c;
        width: 200px;
    }

    #contact-strip a:hover {
        background: #2D3D4C;
        color: #fff;
    }
}

@media only screen and (min-width: 48em) {

    #contact-strip {
        padding-top: 100px;
    }

    .about-contact-group {
        width: 600px;
        margin: auto;
    }

    
}

@media only screen and (min-width: 64em) {

    #contact-strip:before {
        top: -1px;
    }

    .about-contact-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 1100px;
        width: 100%;
        margin: auto;
    }

    .about-contact-group h2 {
        margin: 0;
        text-align: left;
    }

    .about-contact-group p {
        text-align: left;
    }

    .about-contact-group a {
        margin-right: 0;
    }
}